 src/my_git_repo/SixthJavaClass.java
 src/my_git_repo/SixthJavaClass.java
 src/my_git_repo/FifthJavaClass.java
        src/my_git_repo/SeventhJavaClass.java
        src/my_git_repo/SixthJavaClass.java
 src/my_git_repo/SixthJavaClass.java